.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg,#2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search{
  display: flex;
  align-items: center;
  gap: 12px;
}
.search input{
  height: 50px;
  bottom: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}
.search img {
  width:  50px;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
}
.weather-icon {
  width: 150px;
  margin: 30px 0;
}
.temp-icon {
  width: 60px;
}
.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}
.location {
  color: #fff;
  font-size: 40px;
}
.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-style: 22px;
}
.weather-data .col span {
  display: block;
  font-style: 16px;
}
.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}
.error {
  color: #fff;
  font-size: 30px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}